@model List<Library.Services.ViewModels.Customers.CustomerListViewModel>
@{
    Layout = "_Layout";
}
@if (@Model.Any())
{
    <br>
<br>
<h1>Lista de Usuarios</h1>
<br>

<p>
    <a class="btn btn-primary costado" asp-action="Create" >Crear Usuario <i class="fa-solid fa-user-plus"></i> </a>
</p>
<hr>
<br>
<br>
<table class="table tablaCentradaCustomers" >
    <thead>
        <tr>
            <th>
                DNI
            </th>
            <th>
                Nombre
            </th>
            <th>
                Direccion
            </th>
            <th>
                Teléfono
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td style="width:324px;">
                <a type="button" class="btn btn-primary" asp-area="" asp-controller="Customers" asp-action="Update" asp-route-id=@item.Id >Editar <i class="fa-solid fa-user-pen"></i></a>
                <a type="button" class="btn btn-primary" asp-area="" asp-controller="Customers" asp-action="Details" asp-route-id=@item.Id >Detalles <i class="fa-solid fa-circle-info"></i></a>
                <a type="button" class="btn btn-primary" asp-area="" asp-controller="Customers" asp-action="Delete" asp-route-id=@item.Id >Eliminar <span> <i class="fa-solid fa-trash-can"></i></span></a>
            </td>
        </tr>
}
    </tbody>
</table>
}   else
    {
        <div class="card">
            <div class="card-header">
                No users created yet
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Use the button below to create a user
                </h5>
                <a asp-action="Create" asp-controller="Customers"
               class="btn btn-primary mb-3" style="width:auto">
                   Agregar Libro
                </a>
            </div>
        </div>
    }

        <a type="button" class="btn btn-primary abajoizq" asp-area="" asp-controller="Home" asp-action="Index">Volver</a>