@model List<Library.Services.ViewModels.Customers.CustomerListViewModel>
@{
    Layout = "_Layout";
}
@if (@Model.Any())
{
    

<h1>Index</h1>

<p>
    <a asp-page="/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                DNI
            </th>
            <th>
                Nombre
            </th>
            <th>
                Direccion
            </th>
            <th>
                Telefono
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a type="button" class="btn btn-primary" asp-area="" asp-controller="Customers" asp-action="Update" asp-route-id=@item.Id >Editar</a>
                <a type="button" class="btn btn-primary" asp-area="" asp-controller="Customers" asp-action="Details" asp-route-id=@item.Id >Detalles</a>
                <a type="button" class="btn btn-primary" asp-area="" asp-controller="Customers" asp-action="Delete" asp-route-id=@item.Id >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}   else
    {
        <div class="card">
            <div class="card-header">
                No users created yet
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Use the button below to create a user
                </h5>
                <a asp-action="Create" asp-controller="Customers"
               class="btn btn-primary mb-3" style="width:auto">
                   Agregar Libro
                </a>
            </div>
        </div>
    }
