@model Library.Services.ViewModels.Books.BookViewModel
@{
    Layout = "_Layout";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <h1> Detalle del Libro</h1>
    <br />
    <br />
    <br />
    <div class="detalleLibro">

        <p>Título: @Model.Title</p>
        <p>Autor: @Model.Author</p>
        

        <br />
        <br />
        <a style=" width: 140px; margin-left: 116px; margin-bottom: -19px;" type="button" class="btn btn-primary" asp-controller="BookCopies" asp-action="Create" asp-route-bookid=@Model.Id>Agregar Copias</a>
        



    </div>
    <div>
        <br />
        <br />
        <br />

        @*<button class="btn-danger ">Crear Reserva </button>*@
        @if (@Model.Copies != null)
        {

            <h4>Historial de reservas</h4>
              
              <br />
              <br />
              <br />
            @foreach (var item in @Model.Copies)
            {
                <ol>

                    <li>@item.Edition @item.Quantity</li>
                 
                </ol>
            }
        }


    </div>
    <br />
    <br />
    <br />
    <a type="button" class="btn btn-primary abajoizq" asp-area="" asp-controller="Books" asp-action="List">Volver</a>
</body>
</html>