@model Library.Services.ViewModels.Books.BookViewModel
@{
    Layout = "_Layout";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <h1> Detalle del Libro</h1>
    <br />
    <br />
    <br />
    <div class="detalleLibro">

        <p>Título: @Model.Title</p>
        <p>Autor: @Model.Author</p>


        <br />
        <br />
        <a style=" width: 140px; margin-left: 116px; margin-bottom: -19px;" type="button" class="btn btn-primary" asp-controller="BookCopies" asp-action="Create" asp-route-bookid=@Model.Id>Agregar Copias</a>




    </div>
    <div>
        <br />
        <br />
        <br />

        @*<button class="btn-danger ">Crear Reserva </button>*@
        @if (@Model.BookCopies != null)
        {
            <table class="table tablaCentradaLibros">
                <thead>
                    <tr>
                        <th>
                            Edicion

                        </th>
                        <th>
                            Cantidad De copias
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model.BookCopies)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Edition)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AvailableQuantity)
                            </td>
                            <td style="width:320px;">
                                <a type="button" class="btn btn-primary" asp-area="" asp-controller="BookCopies" asp-action="Update" asp-route-id=@item.Id asp-route-bookId=@Model.Id>Editar <span> <i class="fa-solid fa-pen-to-square"></i></span></a>
                                <a type="button" class="btn btn-primary" asp-area="" asp-controller="BookCopies" asp-action="Delete" asp-route-id=@item.Id asp-route-bookId=@Model.Id>Eliminar <span> <i class="fa-solid fa-trash-can"></i></span> </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }


    </div>
    <br />
    <br />
    <br />
    <a type="button" class="btn btn-primary abajoizq" asp-area="" asp-controller="Books" asp-action="List">Volver</a>
</body>
</html>